<div id="id01"> 
        <div class="container modal-content">
          <div class="formheader">
                <h1>Login</h1>
          </div>
              <form method="post" novalidate>
                  {% csrf_token %}
                  {{ form.as_p }}	
                  <button value="Login" type="submit" class="btn btn-primary btn-block">Log in</button>
                  <!-- <input type="hidden" name="next" value="{% url 'rabbit:home' %}"> -->
              </form>     
             
          </div>
      </div>