{% extends 'rabbit/base.html' %}
{% load static %}
{% block csslink%}
<style>
    #more1, #more2, #more3{
        display: none;
    }
</style>
{% endblock csslink %}
{% block content %}
<!--Start banner Area-->
<section class="banner-area relative" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    About Us				
                </h1>	
                <p class="text-white link-nav"><a href="{% url 'rabbit:home'%}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'rabbit:about' %}"> About Us</a></p>
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->	
<br>
<br>
<br>
<!-- Start home-about1 Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center">	
            <div class="col-lg-6 home-about-left no-padding">
                <div class="card" style="width: 18rem; margin-left: 200px">
                    <img src="{% static 'img/about2.jpg' %}" alt="">
                    <div class="card-body">
                            <p class="card-text">Magic Happens community outreach.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 home-about-right no-padding">
                <h1>
                    What is MHRR?
                </h1>
                
                    Magic Happens Rabbit Rescue is a small network of volunteers who rescue rabbits 
                    in and around the Baton Rouge and surrounding areas. We offer education through 
                    classroom visits, event booths, and adoption screenings, but most importantly, we
                     help unwanted animals find their new “furr-ever” homes.
                
                     <span id="dots1">...</span>
                     <span id="more1">
                <p></p>
                        <p>


                    Our rabbits for adoption come from all walks of life. Often they are a child’s pet,
                    and the young caretaker loses interest, sometimes for a new pet, or especially if a 
                    young bunny is purchased and it unknowingly becomes an “unruly teenager” a few months 
                    later. Others come from animal control, are found wandering neighborhoods after being 
                    “set free” by people who no longer wanted them, or even drop-offs at pet stores. A few 
                    months after Easter, we often receive entire "unexpected litters" from Easter Rabbits 
                    bought without prior research. However, Easter is definitely not the only time we receive 
                    rabbits.
                </p>
                <p>                    
                    Sadly, few rabbits that become unwanted end up in rescue. Most often they are given away to
                    another unprepared home, and the rabbit goes through the cycle again. Others are let loose, 
                    left to find palatable grasses, avoid dogs and cars, and suffer from mites, fleas, heat, and 
                    rain.
                </p>
                <p>
                    
                    Rabbits are not as common of a pet as a cat or dog, and are much less understood as a family pet.
                    They are often picked up at a pet store, put in a cage, and no questions are asked. Others are 
                    raised as livestock, being left outdoors and not socialized, and sit all alone day after day. 
                    Neither situation makes a happy pet, or a happy family! This is where our education mission comes 
                    in.
                </p>
                <p>
                    MHRR will accept any rabbit that needs a new home. We are a no-kill group, and we take any animal 
                    that needs medical attention to our veterinarian(s). We do not adopt out rabbits for food, human or 
                    snake. We do our best to keep all of our buns in roomy cages, with all rabbits receiving exercise/playtime
                    daily. Hay, pellets and veggies, plus hide-aways, toys, litterboxes and more, are provided.
                </p></span>



                <br>
                <br>
                <br>
                <button onclick="expand1()" id="readLess1" class="primary-btn text-uppercase">Read more</button>
            </div>
        </div>
    </div>	
</section>
<br>
<br>
<br>
<!-- End home-about1 Area -->	
<!-- Start home-about2 Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center">	
            <div class="col-lg-6 home-about-left no-padding">
                <div class="card" style="width: 18rem; margin-left: 200px">
                    <img src="{% static 'img/about4.jpg' %}" alt="">
                    <div class="card-body">
                            <p class="card-text">Magic and "Maw Maw", who passed away in 2003. Magic died shortly after in 2004.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 home-about-right no-padding">
                <h1>
                    How is a rescue different from a shelter or pound?
                </h1>
                
                        A "shelter" is often used to refer to either a pound, humane society, or sometimes 
                        a rescue group that has it's own building. Unfortunately animals that end up at the 
                        pound are most often euthanized due to lack of space and available homes willing to 
                        take in new animals. This is where spaying & neutering comes in!
                
                     <span id="dots2">...</span>
                     <span id="more2">
                         <p></p>
                <p>
                        A "rescue group" is a network of volunteers who work together for a common goal - saving 
                        the lives of animals in their care. Rescue groups may often limit how many animals they can
                        take in because most volunteers are foster parents and only have so much room in their homes
                        in addition to their own pets. There usually is no shelter facility to visit - this is why you
                        see many groups at large pet stores such as Petsmart & Petco on weekends at "Adoption Days"... 
                        it is often their only means to get their animals into the view of the public other than online. 
                        Adoption fees may occassionally cover the expense of the animal being adopted, but if one animal 
                        gets sick or a major purchase is needed (such as the rebuilding of a pen), fundraisers are the only
                        means available to pay for these things. Rescue groups are NOT funded by the government like animal 
                        control facilities or the local pound.
                </p></span>


                <br>
                <br>
                <br>

                <button onclick="expand2()" id="readLess2" class="primary-btn text-uppercase" >Read more</button>
            </div>
        </div>
    </div>	
</section>
<br>
<br>
<br>
<!-- End home-about2 Area -->
<!-- Start home-about3 Area -->
<section class="home-about-area">
        <div class="container-fluid">
            <div class="row align-items-center">	
                <div class="col-lg-6 home-about-left no-padding">
                    <div class="card" style="width: 18rem; margin-left: 200px; padding: left">
                        <img src="{% static 'img/about6.jpg' %}" alt="">
                        <div class="card-body">
                                <p class="card-text"> Every age group loves a visit from a bunny, from elementry to high school!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 home-about-right no-padding">
                    <h1>
                        How did a rabbit rescue come about?
                    </h1>
                            Wendy (our Director & founder) bought her first bunny at a local pet store around Easter time. 
                            She always had lots of pets and was an avid animal lover, and a bunny seemed like a cute addition 
                            to her household. She was an outgoing dwarf mix, but Wendy decided she needed a playmate. Back she
                            went, actually looking for a dutch, but fell in love with a gorgeous black & white Hotot mix, whom 
                            she named Magic. The pet store was pretty sure it was a female too. Whoops. Needless to say, after 
                         <span id="dots3">...</span>
                         <span id="more3">
                                a few months of maturing, she was accidentally breeding rabbits! She separated them and did more 
                                research online, and found homes for the babies by going to pet stores and getting them used to people
                                (who often called back when they were weaned to get one). A few years later, she began working at a different 
                                pet store. She found out first hand just how many animals were dropped off at stores, and couldn't stand to 
                                see the bunnies sitting in the back room waiting for homes, knowing few people 
                                would come for them since the store didn't regularly carry rabbits. She felt sorry that they had no room to 
                                play, or at least nothing like her guys had at home - an entire backyard! So she began bringing them home. 
                                All the store employees knew she would take them in, and they would help her find homes when anybody called 
                                and asked if the store sold rabbits. Eventually other stores and veterinary clinics learned of "the girl that 
                                takes in rabbits" as they sent people to her to surrender or adopt, and Magic Happens was born!
                    <p>
                            As for the name, "Magic Happens" is something she always thought of when Magic interacted with different people. He went
                            to a nursing home to visit Wendy's grandmother, a daycare, and pet stores, and always was quite the gentlemen for kids who 
                            did not yet know how to pet a bunny, or an elderly soul who could pet but not support him properly. He would never claw, kick, 
                            or bite, but shake his head in protest as if to say "I don't like that" as kindly as he could if he was handled in a way he didn't 
                            like. But when he got back home, it was no more Mr. Nice Guy! Wendy felt strongly that Magic knew what was going on when he was 
                            interacting with visitors!
                    </p></span>
    

                    <br>
                    <br>
                    <br>
                    <button onclick="expand3()" id="readLess3" class="primary-btn text-uppercase">Read more</button>
                </div>
            </div>
        </div>	
    </section>
    <br>
    <br>
    <br>
    <!-- End home-about3 Area -->
{% endblock%}
{% block scriptlink %}
<script>
function expand1() {
    var dots = document.getElementById("dots1");
    var moreText = document.getElementById("more1");
    var btnText = document.getElementById("readLess1");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "inline";
    }
  }
  function expand2() {
    var dots = document.getElementById("dots2");
    var moreText = document.getElementById("more2");
    var btnText = document.getElementById("readLess2");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "inline";
    }
  }
  function expand3() {
    var dots = document.getElementById("dots3");
    var moreText = document.getElementById("more3");
    var btnText = document.getElementById("readLess3");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "inline";
    }
  }
  </script>
{% endblock scriptlink %}