<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    {% load static %}
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Magic Happen</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <!--
			CSS
            ============================================= -->
			<link rel="stylesheet" type="text/css" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}">							
			<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        </head>
        <body>
            <header id="header" id="home">
              <div class="container main-menu">
                  <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                      <a href="home.html"><img src="#" alt="" title="" /></a>
                    </div>
                    {%block nav%}
                    <nav id="nav-menu-container">
                      <ul class="nav-menu">
                        <li class="menu-active"><a href="{%url 'rabbit:home'%}">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="{%url 'rabbit:adopt'%}">Adopt</a></li>
                        <li><a href="#">Rabbits</a></li>
                        <li><a href="#">Guniea Pigs</a></li>
                        <li><a href="#">Volunteer</a></li>
                        <li class="menu-has-children"><a href="">Blog</a>
                          <ul>
                            <li><a href="#">Blog Home</a></li>
                            <li><a href="#">Blog Single</a></li>
                          </ul>
                        </li>						          
                        <li><a href="{%url 'rabbit:contact'%}">Contact</a></li>
                        <li><a href="{%url 'rabbit:login'%}"> login </a></li>
                        <li class="menu-has-children"><a href="">Dropdown</a>
                          <ul>
                            <li><a href="#">Elements</a></li>	
                            <li><a href="#">Item</a></li>
                            <li class="menu-has-children"><a href="">Level 2</a>
                              <ul>
                                <li><a href="#">Item 1</a></li>
                                <li><a href="#">Item 2</a></li>
                              </ul>
                            </li>	
                          </ul>
                        </li>				              
                      </ul>
                    </nav><!-- #nav-menu-container -->
                    {% endblock nav %}		    		
                  </div>
              </div>
            </header><!-- #header -->
            {% block content %}
            {% endblock %}
            <footer class="footer-area">
                <div class="container">
                    <div class="row pt-120 pb-80">
                      <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                          <h6>About Us</h6>
                          <p>
                            Magic Happens is a network of volunteers centered in Baton Rouge, LA, and serves LA, MS, and occasionally other states. As a non-profit 501(c)3 organization, our mission is to rescue & find loving homes for rabbits that are at animal control facilities, abandoned or turned loose, or are unwanted by their owners. We also work hard to educate and serve our community through presentations and educational booths at events so that rabbits & owners will have a happier & healthier life together.
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                          <h6>Useful Links</h6>
                          <div class="row">
                            <ul class="col footer-nav">
                              <li><a href="#">Home</a></li>
                              <li><a href="#">Service</a></li>
                              <li><a href="#">About</a></li>
                              <li><a href="#">Case Study</a></li>
                            </ul>
                            <ul class="col footer-nav">
                              <li><a href="#">Pricing</a></li>
                              <li><a href="#">Team</a></li>
                              <li><a href="#">Blog</a></li>
                            </ul>									
                          </div>
                        </div>
                      </div>						
                      <div class="col-lg-4  col-md-6">
                        <div class="single-footer-widget mail-chimp">
                          <h6 class="mb-20">Contact Us</h6>
                          <ul class="list-contact">
                            <li class="flex-row d-flex">
                              <div class="icon">
                                <span class="lnr lnr-home"></span>
                              </div>
                              <div class="detail">
                                <h4>Baton Rouge, LA</h4>
                                <p>
                                  <!--4343 Hinkle Deegan Lake Road-->
                                </p>
                              </div>	
                            </li>
                            <li class="flex-row d-flex">
                              <div class="icon">
                                <span class="lnr lnr-phone-handset"></span>
                              </div>
                              <div class="detail">
                                <h4>(225)  341 - 2866</h4>
                                <p>
                                  <!--Mon to Fri 9am to 7 pm-->
                                </p>
                              </div>	
                            </li>
                            <li class="flex-row d-flex">
                              <div class="icon">
                                <span class="lnr lnr-envelope"></span>
                              </div>
                              <div class="detail">
                                <h4>wendy@magichappensrescue.com</h4>
                                <p>
                                  <!--Send us your query anytime!-->
                                </p>
                              </div>	
                            </li>																		
                          </ul>
                        </div>
                      </div>						
                    </div>
                  </div>
                  <div class="container">
                      <div class="row footer-bottom d-flex justify-content-between">
                          <p class="col-lg-8 col-sm-6 footer-text m-0 text-white">
                          <div class="col-lg-4 col-sm-6 footer-social">
                              <a href="https://www.facebook.com/magichappensrescue"><i class="fa fa-facebook"></i></a>
                              <a href="https://www.facebook.com/honeybadgerbunny"><i class="fa fa-twitter"></i></a>
                              <a href="https://www.instagram.com/magichappensrabbitrescue/"><i class="fa fa-instagram"></i></a>
                              <a href="https://www.pinterest.com/magichappensres/"><i class="fa fa-pinterest"></i></a>
                          </div>
                      </div>						
                  </div>
              </div>
          </footer>
          <!-- End footer Area -->	

          <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
          <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
          <script src="{% static 'js/easing.min.js' %}"></script>			
          <script src="{% static 'js/hoverIntent.js' %}"></script>
          <script src="{% static 'js/superfish.min.js' %}"></script>	
          <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
          <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
          <script src="{% static 'js/owl.carousel.min.js' %}"></script>						
          <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>							
          <script src="{% static 'js/mail-script.js' %}"></script>	
          <script src="{% static 'js/main.js' %}"></script>	
      </body>
  </html>