{% extends 'rabbit/base.html' %}
    {% load static %}
    {% block csslink %}
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <!-- <link rel="stylesheet" href="demo.css"> -->
    {% endblock csslink %}
    {% block content %}
    <section class="banner-area relative" id="home">
            <div class="container">
                <div class="overlay overlay-bg"></div>
                <div class="row fullscreen d-flex align-items-center justify-content-start">
                    <div class="banner-content col-lg-13 col-md-9">
                            <div id="container" class="calendar-container" style="background-color: white; border-radius: 5%; height: 450px; width: 650px">
                            </div>
                            </div>
                    </div>											
                </div>
            </div>
        </section>
    {% endblock %}

    {% block scriptlink %}
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{% static 'js/calendar.js'%}"></script>
    <script language="javascript">
        $(document).ready(function(){
            $("#container").simpleCalendar({
                fixedStartDay: false,
        months: ['january','february','march','april','may','june','july','august','september','october','november','december'], //string of months starting from january
        days: ['sunday','monday','tuesday','wenesday','thursday','friday','saturday'], //string of days starting from sunday
        minDate : "YYYY-MM-DD", // minimum date
        maxDate : "YYYY-MM-DD", // maximum date
        insertEvent: true, // can insert events
        displayEvent: true, // display existing event
        fixedStartDay: true, // Week begin always by monday
        event: [], //List of event
        insertCallback : function(){} // Callback when an event is added to the calendar
            });
        });
        is_authenticate("{{ user.is_authenticated|yesno:"true,false"}}");
</script> 
    {% endblock scriptlink %}
