{% extends 'rabbit/base.html' %}
{% block content %}
<section class="banner-area relative" id="home">
  <div class="container">
    <div class="overlay overlay-bg"></div>
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-8 col-md-12">
        <h1 class="text-uppercase">
          Care information <br>
        </h1>
        <p class="text-white sub-head">

        </p>

        <a href="https://docs.google.com/document/d/1QwlJSWjvIoVpDilXbxVMPLNTXVic06t80-m3ldT-ST8/edit?usp=sharing"
          class="primary-btn header-btn text-uppercase">Ultimate Care Sheet</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start home-about Area -->
<br>
<br>
<br>
<section class="home-about-area">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      
      </div> 
    </div>
</section>
<!-- End home-about Area -->

<!--info start-->
<section>
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Husbandry
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNine"
                      aria-expanded="true" aria-controls="collapseNine">
                      <a href="https://www.binkybunny.com/BUNNYINFO/tabid/53/CategoryID/8/PID/940/Default.aspx"> Bunny Proofing Your Home</a>
                    </button>
                  </h5>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
        
        
                    </div>
                </div>
              </div>

              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <a href ="https://rabbit.org/faq-litter-training-2/">Litter Box Training</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    
                  </div>
                </div>


                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen"
                          aria-expanded="true" aria-controls="collapseTen">
                          <a href = "https://www.petcoach.co/article/sexing-rabbits/">Sexing Your Rabbit</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
        
        
                        </div>
                    </div>
                  </div>

                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEleven"
                            aria-expanded="true" aria-controls="collapseEleven">
                            <a href ="http://www.pet-informed-veterinary-advice-online.com/sexing-rabbits.html">Sexing Your Adult Rabbit</a>
                          </button>
                        </h5>
                      </div>
                      <div id="collapseEleven" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
        
        
                        </div>
                      </div>
                    </div>

                    

                        <div class="accordion" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                  aria-expanded="true" aria-controls="collapseOne">
                                  <a href = "http://www.bio.miami.edu/hare/buttbath.html">Bunny Butt Bath</a>
                                </button>
                              </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">


                              </div>
                            </div>
                          </div>


                          <div class="accordion" id="accordionExample">
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    <a href ="http://www.hopperhome.com/Trancing%20Rabbits-Tonic%20Immobility%20.pdf"></a>Trancing Rabbit</a>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">


                                </div>
                              </div>
                            </div>
                            
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                      aria-expanded="true" aria-controls="collapseOne">
                                     <a href ="https://rabbit.org/faq-outdoor-and-indoor-hazards-to-companion-rabbits"> Hazards for Rabbits</a>
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">


                                  </div>
                                </div>
                              </div>
                            
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <a href ="https://www.binkybunny.com/BUNNYINFO/tabid/53/CategoryID/23/PID/940/Default.aspx">Cooling Tips</a>
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">


                                    </div>
                                  </div>
                                </div>

                               
                                  <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                          aria-expanded="true" aria-controls="collapseOne">
                                          <a href ="https://rabbit.org/journal/1/dogs.html">Introducing Dogs and Rabbits</a>
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body">


                                      </div>
                                    </div>
                                  </div>
                                </div>
                               
                                    
                                    
                                      <div class="card">
                                        <div class="card-header" id="headingOne">
                                          <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <a href="http://www.rabbitnetwork.org/articles/evacplan.shtml">Evacuation Planning with a Bunny</a>
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                          <div class="card-body">


                                          </div>
                                        </div>
                                      </div>
                                      
                                        <div class="card">
                                          <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                              <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <a href="http://magichappensrescue.com/traveling-with-bunny.html"> Travelling with a Bunny </a>
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body">


                                            </div>
                                          </div>
                                        </div>
                                        
                                          <div class="card">
                                            <div class="card-header" id="headingOne">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  <a href="http://www.bio.miami.edu/hare/surpriselitter.html">Unexpected Litter</a>
                                                </button>
                                              </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                              data-parent="#accordionExample">
                                              <div class="card-body">


                                              </div>
                                            </div>
                                          </div>
                                          </div>

                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                  
                                  
                                </div>
                                
                                </div>
          </div>  
          
                              

          
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Housing
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <a href="http://ontariorabbits.org/care/housing/">Cage Ideas</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
                  </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <a href="https://www.binkybunny.com/BUNNYINFO/GreatHabitats/tabid/229/Default.aspx">More Habitat Ideas</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <a href="https://www.sandiegorabbits.org/adoption.php/pen_living.html">Living in an ex-pen</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <a href ="http://www.guineapigcages.com/howto.htm">How to construct a grid Habitat for Guinea Pigs</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <a href ="http://www.guineapigcages.com/cubes.htm">What Supplies to Buy and Where</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
         




          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Health and Nutrition
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="http://www.magichappensrescue.com/vetlist.html">Louisiana Rabbit Vets</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>
                 
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="http://www.magichappensrescue.com/health.html">Common Health Vets</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
                    
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="https://www.thecapecoop.com/rabbit-first-aid-kit/">Bunny First Aid Kit</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="https://veterinarypartner.vin.com/default.aspx?pid=19239&id=4952892">Intermittent Soft Stools</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="http://www.bio.miami.edu/hare/ileus.html">G.I stasis</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="https://www.kingswoodvets.co.uk/information/rabbits">E.cuniculi</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="https://rabbit.org/chronic-runny-eyes-in-rabbits">Runny Eyes In Rabbits</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="https://www.healthypetcorner.com/rabbit.html">Herbs for Bunnies-Natural Remedies</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="http://www.magichappensrescue.com/spayneuter.html">Spaying and Neutering</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="http://homepage.mac.com/mattocks/morfz/rabrefs.html">Ultimate Rabbit Health link page</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="https://www.wqed.org/neighborhood/pets/videos/how-do-i-know-if-my-bunny-is-sick">How to know if your Rabbit is Sick</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="https://rabbit.org/suggested-vegetables-and-fruits-for-a-rabbit-diet/">Feeding Fruits & Vegetables</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href ="https://www.veterinarypracticenews.com/quality-of-life-scale/">Is it Time ?</a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
      
      
          
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>




          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Behavior
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
             
                <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="">Bunny Behavior Guide</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="http://language.rabbitspeak.com/">The Language of Lagamorphs</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="https://rabbit.org/journal/2-1/loss-support.html">Pet Loss Support for your Rabbit</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="http://www.clickerbunny.com/">Clicker Train your Rabbit</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="https://www.youtube.com/watch?v=1abIFF_fgpY">Approaching an Agressive Bunny</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="https://rabbit.org/faq-aggression">FAQs On Aggresive Rabbits</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="https://rabbit.org/journal/2-2/mean-rabbit.html">Who wants a mean bunny?</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="http://kanin.org/node/173">How to Build Trust and Tame a Rabbit</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <a href ="http://www.bio.miami.edu/hare/shybun.html">Win Over a Shy Bunny</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>



              </div>
            </div>
          </div>





          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Bonding
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
             




                <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <a href ="http://www.rabbitnetwork.org/education-resources/articles/rabbit-care-articles/love-match-a-guide-to-bonding-your-rabbits/">Find a Friend for Your Rabbit</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                     
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <a href ="https://www.thebunnychick.com/category/bonding/">Bonding Blog posts</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                     
        
        
                      </div>
                    </div>
                  </div>

                  

              </div>
            </div>
          </div>




          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Shopping
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
             

                <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <a href ="https://store.binkybunny.com/all-products-call.aspx">The BinkyBunny Store</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <a href ="https://www.drsfostersmith.com/">DrsFosterSmith.com</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

              

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <a href ="http://wabbitwork.com/">wabbitworks.com</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <a href ="http://dnserrorassist.att.net/search/?q=http%3A//www.petsandpeoplebymp.com/&r=http%3A//www.magichappensrescue.com/educationals.html&t=0">Pets and People</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <a href ="http://www.petwerks.com/">Leith Petwerks</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
    
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <a href ="https://www.dog.com/">Dogs.com</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <a href ="https://www.ferret.com/">Ferret.com</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Other Good Resources
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
            
                <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          <a href ="https://rabbit.org/">House Rabbit Society</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          <a href ="http://myhouserabbit.com/">www.myhouserabbit.com</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
             
        
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          <a href ="http://ontariorabbits.org/hot_topics/hot_topic.html">Hot Topics</a>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
        
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  Must Read for Rabbit Owners.
                </button>
              </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
              <p><strong>Rabbits For Dummies</strong>:The first is a great go-to resource book for any questions you may have, and the second is a very condensed version, a very good read if you're thinking of bringing home your first bunny!</p>
              <p><strong>Rabbit Health in the 21st Century by Kathy Smith:</strong>This book might not look so fancy, but it has a great deal of compiled information on rabbit health.</p>
              <p><strong>House Rabbit Handbook - How to live with an Urban Rabbit by Marinell Harriman: </strong>Excellent book for basic & advanced readers. Overall very well written and extremely informative.</p>
              <p><strong>Rabbit Health, Husbandry & Diseases by Virginia Richardson: </strong>Overview of rabbit husbandry, nutritional requirements. Clinical examination describes various diseases, their diagnosis & treatment. Behavior, anesthesia, surgery & zoonotic aspects. A definite must have for every rabbit owner.</p>
               <p><strong>The Relaxed Rabbit,Massage for your pet bunny by Chandra Mira Beal, RMT & Maia: </strong>Through dozens of photos and illustrations you'll learn: How to massage your rabbit from nose to toes - Basic anatomy & physiology - How to address specific health & behavior issues. Wonderful book for rabbit owners who love to do something good for their pet bun themselves, specially for rabbits with handicaps.</p>
               <p><strong>Textbook of Rabbit Medicine by Frances Harcourt  Brown:</strong>  Comprehensive, in-depth coverage of the health of the domestic rabbit detailed and explicit line artwork provides clear understanding of physiological processes.A practical evidence-based resource for the effective treatment of rabbits, especially those in critical condition. A little pricey, but worth every penny for serious rabbit owners.
                </p>
              </div>
            </div>
          </div>

</section>
<!--info end-->





<!-- Start process Area -->
<section class="process-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Process to adopt a Rabbit</h1>
                    <p>What to do when you find your forever friend</p>
                </div>
            </div>
        </div>					
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <span class="lnr lnr-thumbs-up"></span>
                    <a href="#">
                        <h4>
                            Pet Selection
                        </h4>
                    </a>
                    <p>
                      Look through our available rabbits and find one that seems to speak to you. 
                      </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <span class="lnr lnr-user"></span>
                    <a href="#">
                        <h4>
                            Meeting Your Rabbit
                        </h4>
                    </a>
                    <p>
                        Set up visits with fosters and meet your dream bunny on Care Days!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <span class="lnr lnr-license"></span>
                    <a href="#">
                        <h4>
                            Adoption Form Filling
                        </h4>
                    </a>
                    <p>
                      Once you've selected your Rabbit fill out the Adoption Form to begin the adoption processes.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <span class="lnr lnr-magic-wand"></span>
                    <a href="#">
                        <h4>
                            Make Some Magic
                        </h4>
                    </a>
                    <p>
                      Enjoy your new forever friend and enjoy the magical experiences that they will bring to your life.
                    </p>
                </div>
            </div>																		
        </div>
    </div>	
</section>
<!-- End process Area -->




{% endblock %}