{% extends 'rabbit/base.html' %}
{% block content %}
<section class="banner-area relative" id="home">
  <div class="container">
    <div class="overlay overlay-bg"></div>
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-8 col-md-12">
        <h1 class="text-uppercase">
          Care information <br>
        </h1>
        <p class="text-white sub-head">

        </p>

        <a href="https://docs.google.com/document/d/1QwlJSWjvIoVpDilXbxVMPLNTXVic06t80-m3ldT-ST8/edit?usp=sharing"
          class="primary-btn header-btn text-uppercase">Ultimate Care Sheet</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start home-about Area -->
<br>
<br>
<br>
<section class="home-about-area">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <!-- <div class="col-lg-6 home-about-left no-padding">
                <img src="img/vol-banner" alt="">
            </div>-->
      <div class="menu-content pb-60 col-lg-8">

        <br>
        <a href="#" class="primary-btn text-uppercase">get details</a>
        <a href="#" class="primary-btn text-uppercase">get details</a>
        <!--</div>-->
      </div>
    </div>
</section>
<!-- End home-about Area -->

<!--info start-->
<section>
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Husbandry
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      Bunny Proofing Your Home
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">


                  </div>
                </div>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Litter Box Training
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">


                    </div>
                  </div>
                </div>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          Sexing Your Rabbit
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">


                      </div>
                    </div>
                  </div>
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Sexing Your Adult Rabbit
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">


                        </div>
                      </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne">
                              Rabbits and Allergies
                            </button>
                          </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">


                          </div>
                        </div>
                      </div>
                      <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Bunny Toys
                              </button>
                            </h5>
                          </div>
                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">


                            </div>
                          </div>
                        </div>

                        <div class="accordion" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                  aria-expanded="true" aria-controls="collapseOne">
                                  Bunny Butt Bath
                                </button>
                              </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">


                              </div>
                            </div>
                          </div>
                          <div class="accordion" id="accordionExample">
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Trancing Rabbit
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">


                                </div>
                              </div>
                            </div>
                            
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                      aria-expanded="true" aria-controls="collapseOne">
                                      Hazards for Rabbits
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">


                                  </div>
                                </div>
                              </div>
                            
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Cooling Tips
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">


                                    </div>
                                  </div>
                                </div>

                               
                                  <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                          aria-expanded="true" aria-controls="collapseOne">
                                          Introducing Dogs and Rabbits
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body">


                                      </div>
                                    </div>
                                  </div>
                                </div>
                               
                                    <div class="card">
                                      <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Rabbits Emergency Prepardeness
                                          </button>
                                        </h5>
                                      </div>
                                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">


                                        </div>
                                      </div>
                                    </div>
                                    
                                      <div class="card">
                                        <div class="card-header" id="headingOne">
                                          <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              Evacuation Planning with a Bunny
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                          <div class="card-body">


                                          </div>
                                        </div>
                                      </div>
                                      
                                        <div class="card">
                                          <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                              <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Travelling with a Bunny
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body">


                                            </div>
                                          </div>
                                        </div>
                                        
                                          <div class="card">
                                            <div class="card-header" id="headingOne">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Unexpected Litter
                                                </button>
                                              </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                              data-parent="#accordionExample">
                                              <div class="card-body">


                                              </div>
                                            </div>
                                          </div>
                                          </div>

                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                  
                                  
                                </div>
                                
                                </div>
          </div>  
          
                              

          
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Housing
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">




              </div>
            </div>
          </div>

</section>
<!--info end-->





<!-- Start process Area -->
<section class="process-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Process to adopt a pet</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-process">
          <span class="lnr lnr-thumbs-up"></span>
          <a href="#">
            <h4>
              Pet Selection
            </h4>
          </a>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-process">
          <span class="lnr lnr-user"></span>
          <a href="#">
            <h4>
              Meeting Authority
            </h4>
          </a>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-process">
          <span class="lnr lnr-license"></span>
          <a href="#">
            <h4>
              Adoption Form Filling
            </h4>
          </a>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-process">
          <span class="lnr lnr-magic-wand"></span>
          <a href="#">
            <h4>
              Bring to new family
            </h4>
          </a>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End process Area -->




{% endblock %}