{% extends 'rabbit/base.html' %} 
{% load static %} 
 
{% block content %} 


<section class="banner-area relative" id="home"> 
    <div class="container"> 
        <div class="overlay overlay-bg"></div> 
        <div class="row fullscreen d-flex align-items-center justify-content-start">  
        </div> 
    </div> 
</section> 

<div style="background-color:#ebd5d5; text-align:center; vertical-align: middle; padding: 20 px 47px;">	   
    <form action = '.' method = 'POST'>{% csrf_token %}
            <h1>Do you want to delete the user "{{ user.username }}"?</h1>
            <p><input type='submit' value'Yes' /> <a href="../../../post/new/">Cancel</a></p>
    </form>
</div>

{% endblock %} 