{% extends 'rabbit/base.html' %}
{% block content %}
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="text-uppercase">
                    Adopt don't Shop! <br>		
                </h1>
                <p class="text-white sub-head">
                    
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Find a forever friend</a>
            </div>											
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start home-about Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center">	
            <div class="col-lg-6 home-about-left no-padding">
                <img src="img/vol-banner" alt="">
            </div>
            <div class="col-lg-6 home-about-right no-padding">
                <h1>
                    Globally Connected
                    by Large Network
                </h1>
                <h5>We are here to listen from you deliver exellence</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                </p>
                
                <a href="#" class="primary-btn text-uppercase">get details</a>
            </div>
        </div>
    </div>	
</section>
<!-- End home-about Area -->

<!--info start-->
<section>
<div class="container">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Fundraisers
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
               Sponsor an adoptable rabbit's spay or neuter, recycle ink cartridges, and browse our Cafepress store... plus more!
        
               <h2> MHRR's online shop</h2>
        <p>https://squareup.com/market/magic-happens-rabbit-rescue
        Here we have holiday-themed items, toys and treats that we make or put together, MHRR tshirts, as well as other items that people have given to us, made for us, or donated to us. You never know what will end up in the shop! All these items are at our foster homes.</p>
        
                <h2>    MHRR's Zazzle store </h2> 
        www.zazzle.com/magichappensrescue/gifts
        Get cool MHRR gear - our logo and photos of adoptables can be found on everything from t-shirts to laptop cases. All items are high quality, and prices go down with multiple purchases of the same item.
        
                <h2>    MHRR's Cafepress store </h2> 
        www.cafepress.com/mhrr
        More MHRR gear - our logo and photos of adoptables can be found on lots of cool items. These are a little cheaper, and sometimes photo items are lesser quality than the Zazzle store.
        
        
              </div>
            </div>
          </div>
        
        
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Foster
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
          <p>     Whether temporary or until a rabbit gets a home, fostering helps in MANY ways. It helps socialize a rabbit and help him become friendlier (especially nervous bunnies who need an experienced rabbit person to figure them out!), as well as learn his likes & dislikes for his new family. It helps ease the burden at the main foster house, and the bunny can enjoy more one-on-one time and exercise! Not to mention fostered bunnies get adopted quickly for other reasons - foster families sometimes end up adopting or have friends & family who fall in love while visiting!
              If you're looking to foster with the intent of hopeful adoption, read more about fostering to adopt.
        </p>
        <p>
            If you'd like to welcome an adoptable bunny (or another one of our foster pets) into your home, we have our foster parent application available to fill out online or you can download it here and bring it with you in person or email it as an attachment.</p>
            <p> You can reach us at 225-341-2866 or wendy@magichappensrescue.com</p>
        <h2>FOSTERING FAQS</h2>
                
         <div class = "container">
        <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  DO I HAVE TO BE AN OFFICIAL VOLUNTEER TO HELP?
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
             
        You do not have to do other types of volunteering, we accept all types of help! You do not have to live in a specific area, but you MUST be able to bring the rabbit to either Baton Rouge or New Orleans when needed.
              </div>
            </div>
        
        
        <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  IF I FOSTER A RABBIT, WHAT IS MY RESPONSIBILTY?
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
               * You provide shelter, feeding, and general care in your home for as long as you are able OR until the rabbit(s) find a permanent home.
        * The rabbit will need at least an hour of exercise time (out of the cage) each day in a rabbit-proofed area of your home (ex: a kitchen or hallway with blocked-off exits that has no electrical cords or other dangers that the rabbit can reach).
        * Keep MHRR updated with any personality, behavior, or health changes. A quick e-mail or phone call once a week with an update is sufficient.
        * Be available to bring the fostered rabbit to adoption days when requested or back to the main house to meet with potential adopters (unless you are fostering as a test-run to adopt). This is done by appointment and will be arranged with your schedule in mind.
        
        MHRR will provide any medical care the rabbit might need (including neutering and spaying) before going into foster care. If additional care is needed, please contact MHRR first!
                    </div>
                    </div>
                 </div>
        
        
        
        <div class="card">
            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  HOW MUCH WILL IT COST?
                </button>
              </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
              <div class="card-body">
             
        <p>Absolutely nothing unless you want to help - MHRR will supply any items that you do not already have or are able to provide, including a cage, litterbox, food/water containers, litter, hay, and pellets. If you choose to let us provide the food, please bring a container to hold the pellets and hay (small plastic totes work well). If you choose to provide your own food, please make sure it is a quality food, such as Oxbow or Timothy Complete, with a minimum of 18% fiber.</p>
              </div>
            </div>
          </div>
        
            
        
        <div class="card">
            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  WHAT IF I'VE NEVER OWNED A RABBIT BEFORE?
                </button>
              </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
              <div class="card-body">
             
        <p>We'll make sure you take home an "easy keeper" that doesn't have personality issues like cage aggression or special medications. We are here for you no matter what questions you have. We were all beginners once also, and we help beginners all the time to get set up for their first pet rabbit. It's what we do!</p>
              </div>
            </div>
          </div>
        
        
        <div class="card">
            <div class="card-header" id="headingTen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                  DO I GET TO PICK WHICH RABBIT I FOSTER?
                </button>
              </h5>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
              <div class="card-body">
             
        <p>Yes! As long as the rabbit you want is not already in a foster home or not yet spayed or neutered, you can take whichever rabbit you prefer. If you aren't sure which one you might like, you may come to the main house and meet them before you choose. Of course we can help you decide based on your schedule and space available, as well as previous rabbit-keeping experience and personality-type desired. Be aware that if you choose a particularly cute or very sweet rabbit, it may not be long before it finds a potential home, and you may be asked to bring it to adoption day often. :)</p>
              </div>
            </div>
          </div>
        
        
        <div class="card">
            <div class="card-header" id="headingEleven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                  I HAVE A PET ALREADY. IS THIS A PROBLEM?
                </button>
              </h5>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
              <div class="card-body">
             
        <p>Probably not. Many rabbits get along great with cats and gentle dogs. Rabbits and cats typically do not bother one another, though sometimes the rabbit will chase the cat or ask it to groom him or her! If your dog is fine with a cat, he or she will likely be fine with a rabbit that is not afraid of dogs. You will need to use your best judgment about introducing two animals, and be able to keep the rabbit in a room isolated and safe from taunting or attack by other household pets if need be. If you have another pet rabbit, we recommend not housing them together as we wouldn't want to separate a bonded pair.</p>
              </div>
            </div>
          </div>
        
        
        
        
              </div>
            </div>
          </div>
            </div>
            </div>
        
        
         <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Amazon Wishlist
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
              Browse our Amazon wishlist and donate an item or two. While we accept food donations, we don't ask for them regularly as we are able to purchase hay & foods in bulk directly from Oxbow through their Rescue Rewards program for a much cheaper rate than it can be purchased locally or online to the public, so we'd rather see your donations go further!
              </div>
            </div>
          </div>
        
        
           <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Volunteer
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                Join us in our Care Days, transporting rabbits, working events, and much more! There are lots of opportunities and ways to help. Sign up to be a volunteer to get on our event and help e-mail list.
              </div>
            </div>
          </div>
        
        
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Spread the Word
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
               Print and distribute our brochure at stores and other places where people can see that there is a need for bunny adoptions! Such places include pet stores (Petsmart & Petco), feed stores, Wal-mart (dog & cat section bulletin board), church, school, or scout meetings. No need to contact us, just print & pass out as you're able!
              </div>
            </div>
          </div>
        </div>
        </div>
        
    </section>
<!--info end-->












{% endblock %}