{% extends 'rabbit/base.html' %}
{% block content %}
{% load static %}
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="text-uppercase">
                    Adopt Us. <br>
                    We need new homes!		
                </h1>
                <p class="text-white sub-head">
                    
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Find a forever friend</a>
            </div>											
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start image-carusel Area -->


<!-- Start callto-top Area -->
<section class="callto-top-area section-gap">
    <div class="container">
        <div class="row justify-content-between callto-top-wrap pt-40 pb-40">
            <div class="col-lg-8 callto-top-left">
                <h1>Please select your favourite pet</h1>
            </div>
            <div class="col-lg-4 callto-top-right">
                <a href="#" class="primary-btn">Fill Adoption Form</a>
            </div>							
        </div>
    </div>	
</section>
<!-- End callto-top Area -->

<!-- Start cat-list Area -->
<section class="cat-list-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/guinea1.jpg' %}" class = "img-fluid"/>
                            <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                            <div class="overlay">
                              <div class="text">Guinea Pig1</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/guinea2.jpg' %}" class = "img-fluid"/>
                      <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                      <div class="overlay">
                        <div class="text">Guinea Pig2</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/guinea3.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Guinea Pig3</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/guinea4.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Guinea Pig4</div>
                      </div>
                    </div>
                </div>	
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/guinea5.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Guinea Pig5</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/guinea6.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Guinea Pig6</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/guinea7.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Guinea Pig7</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6"> 
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/guinea8.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Guinea Pig8</div>
                      </div>
                    </div>
                </div>	
                <div class="col-lg-3 col-md-6">
                        <div class="single-cat-list">
                                <img  alt="rabbit"src="{% static 'img/guinea1.jpg' %}" class = "img-fluid"/>
                                <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                                <div class="overlay">
                                  <div class="text">Guinea Pig9</div>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                            <div class="single-cat-list">
                                    <img  alt="rabbit"src="{% static 'img/guinea1.jpg' %}" class = "img-fluid"/>
                                    <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                                    <div class="overlay">
                                      <div class="text">Guinea Pig10</div>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                                <div class="single-cat-list">
                                        <img  alt="rabbit"src="{% static 'img/guinea1.jpg' %}" class = "img-fluid"/>
                                        <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                                        <div class="overlay">
                                          <div class="text">Guinea Pig11</div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                    <div class="single-cat-list">
                                            <img  alt="rabbit"src="{% static 'img/guinea1.jpg' %}" class = "img-fluid"/>
                                            <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                                            <div class="overlay">
                                              <div class="text">Guinea Pig12</div>
                                      </div>
                                    </div>
                                </div>

                
            </div>
        </div>	
    </section>
    <!-- End cat-list Area -->
            







<!-- Start calltoaction Area -->
<section class="calltoaction-area section-gap relative">
    <div class="container">
        <div class="overlay overlay-bg"></div>						
        <div class="row align-items-center justify-content-center">
            <h1 class="text-white">Want to help? Become a Volunteer</h1>
            <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
            </p>
            <div class="buttons d-flex flex-row">
                <a href="#" class="primary-btn text-uppercase">View pdf details</a>
                <a href="#" class="primary-btn text-uppercase">Register now</a>
            </div>
        </div>
    </div>	
</section>
<!-- End calltoaction Area -->

{% endblock %}