{% extends 'rabbit/base.html' %}
{% block content %}
{% load static %}
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="text-uppercase">
                    Adopt Us. <br>
                    We need your help.		
                </h1>
                <p class="text-white sub-head">
                    
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Find a forever friend</a>
            </div>											
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start image-carusel Area -->
<section class="image-carusel-area">
    <div class="container">
        <div class="row">
            <div class="active-image-carusel">
                <div class="single-image-carusel">     <!--img style="width: 125px; height:-->      
                        <img alt="bun1"src="{% static 'img/rabt1.jpg' %}"/>
                </div>
                <div class="single-image-carusel">
                    <img alt="Image description" src="{% static 'img/rabt2.jpg' %}"/>
                </div>
                <div class="single-image-carusel">
                    <img alt="Image description" src="{% static 'img/rabt3.jpg' %}"/>
                </div>
                <div class="single-image-carusel">
                
                    <img  alt="Image description"src="{% static 'img/rabt4.jpg' %}"/>
                </div>	
                <div class="single-image-carusel">
                    <img class="img-fluid" src="img/c1.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="img/c2.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="img/c3.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="img/c4.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="img/c1.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="img/c2.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="img/c3.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="img/c4.jpg" alt="">
                </div>															
            </div>
        </div>
    </div>	
</section>
<!-- End image-carusel Area -->


<!-- Start callto-top Area -->
<section class="callto-top-area section-gap">
    <div class="container">
        <div class="row justify-content-between callto-top-wrap pt-40 pb-40">
            <div class="col-lg-8 callto-top-left">
                <h1>Please select your favourite pet</h1>
            </div>
            <div class="col-lg-4 callto-top-right">
                <a href="#" class="primary-btn">Fill Adoption Form</a>
            </div>							
        </div>
    </div>	
</section>
<!-- End callto-top Area -->


<!-- Start home-about Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center">	
            <div class="col-lg-6 home-about-left no-padding">
                <img src="img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-6 home-about-right no-padding">
                <h1>
                    Globally Connected
                    by Large Network
                </h1>
                <h5>We are here to listen from you deliver exellence</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                </p>
                <a href="#" class="primary-btn text-uppercase">get details</a>
            </div>
        </div>
    </div>	
</section>
<!-- End home-about Area -->


<!-- Start video Area -->
<section class="video-area section-gap">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="about-video-right justify-content-center align-items-center d-flex relative">
                    <div class="overlay overlay-bg"></div>
                    <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="img/play-btn.png" alt=""></a>
                </div>
                <div class="description">
                    <h4>Watch this video how they live here</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    </p>								
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- End video Area -->


<!-- Start process Area -->
<section class="process-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Process to adopt a pet</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>					
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <span class="lnr lnr-thumbs-up"></span>
                    <a href="#">
                        <h4>
                            Pet Selection
                        </h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <span class="lnr lnr-user"></span>
                    <a href="#">
                        <h4>
                            Meeting Authority
                        </h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <span class="lnr lnr-license"></span>
                    <a href="#">
                        <h4>
                            Adoption Form Filling
                        </h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <span class="lnr lnr-magic-wand"></span>
                    <a href="#">
                        <h4>
                            Bring to new family
                        </h4>
                    </a>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
                    </p>
                </div>
            </div>																		
        </div>
    </div>	
</section>
<!-- End process Area -->


<!-- Start testomial Area -->
<section class="testomial-area section-gap" id="testimonail">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonials from our Adoptors</h1>
                    <p>Who are in  love with their new best friend!.</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="active-testimonial-carusel">
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t1.png" alt="">
                    <p class="desc">
                        This organization is wonderful. we are very new to the Rabbit world and they have been amazing at helping to answer all of our questions. I love that I can bring them to their adoption days and have their nails clipped. They not only gave us great recommendations for vets that work with bunnies (since our regular vet does not work with many exotic animals) but they also provided coupons to help discount the cost of the surgery. When we first brought our buns home I was constantly messaging Emily with the rescue asking about everything from enclosures to what snacks to feed them and even if certain behaviors where normal. we enjoy our buns so much and having this rescue to turn to for advice and to help answer our questions has been an amazing resource. the people at this rescue genuinely care about the animals and it goes past just adoption.
                    </p>
                    <h4>Jennifer Michel</h4>
                    <p>
                        June 25
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t2.png" alt="">
                    <p class="desc">
                        Love Magic Happens! Wendy and her crew could not have been any kinder in helping us adopt Beau (aka Romeo) after our beloved Bunny crossed the rainbow bridge. They invited us into their bungalow and gave us all the time we needed to pick our next fur baby. We loved the experience so much we decided to foster our sweet baby Bella (aka Moore) from them and quickly became a foster fail. Thank you Magic Happens for all that you do and helping us in adopting our fur babies.                    </p>
                    <h4>Christin Mary Abadie</h4>
                    <p>
                        August 21, 2017
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t3.png" alt="">
                    <p class="desc">
                        Magic happens is an amazing organization. If you are wanting to a rabbit please consider adopting from them. Wendy and all the volunteers are SO amazing and knowledgeable. I adopted my sweet bunny from them a little over two years ago. When I first brought my new rabbit home MHRR helped with housing and made sure we were set for transitioning from 1 to 2 bunnies. I can't say enough good things about MHRR! If you have any questions they can help, & are eager to help. Adopt don't shop, there are too many cuties needing homes at MHRR!                    </p>
                    <h4>
                        Erica S. Forrester
                    </h4>
                    <p>
                        February 23, 2017 
                    </p>
                </div>	
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t1.png" alt="">
                    <p class="desc">
                        MHRR changes animals' lives and people's lives. My life has become so much more enriched since becoming a volunteer in 2005. Wendy is a bunny whisperer and a people whisperer. She knows what the buns need and what the bunny people (and potential bunny people) need. I've learned so much from her over the years. Not just about rabbits, but about the adoption process and how to educate the public about rabbits as well.
                    </p>
                    <h4>Lisa Appelbaum</h4>
                    <p>
                        May 12, 2013
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t2.png" alt="">
                    <p class="desc">
                        There's no other rescue quite like this one. I adopted my first rescue bunny, Taffy, from MHRR this year. When she was sick, Wendy sent me the medication she needed to fully recover. I couldn't ask for a more caring a supportive group of volunteers! I've learned so much from MHRR and I hope to contribute more of my time to them as a volunteer myself in the future. I would do anything I can to give back to the bunnies and the people who help make everything possible. I highly recommend MHRR to anyone looking for a loving bun of their own!
                    </p>
                    <h4>Megg Landry</h4>
                    <p>
                        April 14, 2014
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t3.png" alt="">
                    <p class="desc">
                        I contacted MHRR about a bunny they had already adopted out and our boy Rodger was suggested instead. I immediately fell in love and Wendy had him transferred to Lafayette so I could pick him up instead of driving from Delcambre to Baton Rouge! We are in absolute love an couldn't have asked for a better companion! Thank you so much MHRR!!!!
                    </p>
                    <h4>Timberlee Fields</h4>
                    <p>
                        September 14, 2013
                    </p>
                </div>															
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t1.png" alt="">
                    <p class="desc">
                        Magic Happens Rabbit Rescue is an amazing organization, and one that I regularly recommend to people intestered in learning about and adopting a bunny. Wendy and her dedicated staff do an amazing job of finding good homes for these precious animals, as well as educating owners and the general public about them. Wendy's hard work and dedication is an inspiration to all who come in contact with her. She has been a tremendous help to me with my bunny, and I can't thank her enough!!
                    </p>
                    <h4>Helene R. Breaux </h4>
                    <p>
                        April 24, 2013
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t2.png" alt="">
                    <p class="desc">
                        We drove all the way from Houston to adopt our current bun from MHRR. Wendy is really great and made the adoption process very easy. She's also been available and helpful through e-mail when I had questions with some behavior issues our bun had while adjusting to his new home. I would definitely recommend this great rescue.
                    </p>
                    <h4>Jackie Fitz</h4>
                    <p>
                        December 4, 2016
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t3.png" alt="">
                    <p class="desc">
                        What a great organization! Everyone is very caring and helpful. I adopted my two girls there last year and they were very well cared for and loved while in foster care. I hope to work with them again.
                    </p>
                    <h4>Annie Sue </h4>
                    <p>
                        March 17
                    </p>
                </div>														
            </div>
        </div>
    </div>	
</section>
<!-- End testomial Area -->						

<!-- Start calltoaction Area -->
<section class="calltoaction-area section-gap relative">
    <div class="container">
        <div class="overlay overlay-bg"></div>						
        <div class="row align-items-center justify-content-center">
            <h1 class="text-white">Want to help? Become a Volunteer</h1>
            <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
            </p>
            <div class="buttons d-flex flex-row">
                <a href="#" class="primary-btn text-uppercase">View pdf details</a>
                <a href="#" class="primary-btn text-uppercase">Register now</a>
            </div>
        </div>
    </div>	
</section>
<!-- End calltoaction Area -->

{% endblock %}