{% extends 'rabbit/base.html' %}
{% block content %}
{% load static %}
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="text-uppercase">
                    Adopt Us. <br>
                    We need new homes!		
                </h1>
                <p class="text-white sub-head">
                    
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Find a forever friend</a>
            </div>											
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start image-carusel Area -->


<!-- Start callto-top Area -->
<section class="callto-top-area section-gap">
    <div class="container">
        <div class="row justify-content-between callto-top-wrap pt-40 pb-40">
            <div class="col-lg-8 callto-top-left">
                <h1>Please select your favourite pet</h1>
            </div>
            <div class="col-lg-4 callto-top-right">
                <a href="#" class="primary-btn">Fill Adoption Form</a>
            </div>							
        </div>
    </div>	
</section>
<!-- End callto-top Area -->

<!-- Start cat-list Area -->
<section class="cat-list-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/rabt1.jpg' %}" class = "img-fluid"/>
                            <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                            <div class="overlay">
                              <div class="text">Rabbit1</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/rabt2.jpg' %}" class = "img-fluid"/>
                      <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                      <div class="overlay">
                        <div class="text">Rabbit2</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/rabt3.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Rabbit3</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/rabt4.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Rabbit4</div>
                      </div>
                    </div>
                </div>	
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/rabt5.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Rabbit5</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/rabt6.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Rabbit6</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/rabt7.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Rabbit7</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6"> 
                    <div class="single-cat-list">
                            <img  alt="rabbit"src="{% static 'img/rabt8.jpg' %}" class = "img-fluid"/>
                            <div class="overlay">
                              <div class="text">Rabbit8</div>
                      </div>
                    </div>
                </div>	
                <div class="col-lg-3 col-md-6">
                        <div class="single-cat-list">
                                <img  alt="rabbit"src="{% static 'img/rabt1.jpg' %}" class = "img-fluid"/>
                                <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                                <div class="overlay">
                                  <div class="text">Rabbit9</div>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                            <div class="single-cat-list">
                                    <img  alt="rabbit"src="{% static 'img/rabt1.jpg' %}" class = "img-fluid"/>
                                    <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                                    <div class="overlay">
                                      <div class="text">Rabbit10</div>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                                <div class="single-cat-list">
                                        <img  alt="rabbit"src="{% static 'img/rabt1.jpg' %}" class = "img-fluid"/>
                                        <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                                        <div class="overlay">
                                          <div class="text">Rabbit11</div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                    <div class="single-cat-list">
                                            <img  alt="rabbit"src="{% static 'img/rabt1.jpg' %}" class = "img-fluid"/>
                                            <!--img src="img/rabt2.jpg" alt="" class="img-fluid">-->
                                            <div class="overlay">
                                              <div class="text">Rabbit12</div>
                                      </div>
                                    </div>
                                </div>

                
            </div>
        </div>	
    </section>
    <!-- End cat-list Area -->
            


{% endblock %}