{% extends 'rabbit/base.html' %}
{% load static %}
{% block content %}

<style>
    form label{

        display: inline-block;
        width: 100px;
        font-weight: bold;
    }
</style>

<section class="banner-area relative" id="home">	
        <div class="overlay overlay-bg"></div>
        <div class="container">				
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Submission				
                    </h1>	
                    <p class="text-white link-nav"><a href="{% url 'rabbit:home'%}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="./"> Submission</a></p>
                </div>	
            </div>
        </div>
    </section> 
<!-- Start home-about1 Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center">	
            <div class="col-lg-6 home-about-left no-padding">
                <div class= "card" style="margin-left:50px; margin-top: 50px; margin-bottom: 30px; align-content: center; width: 100%; padding:10px;">
                    <h5 style='margin-left: 150px'> Rabbit Submission Form</h5>
                    <div style="display: inline-block; text-align: center; margin-right: 50px; margin-top: 30px; margin-bottom: 30px"></div>
                        <form method="post">    
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div style="margin-left:50px;">
                                        {% include 'rabbit/includes/image_upload.html' %}	
                                        <br>
                                <button  type="submit" class="primary-btn text-uppercase" style="margin-left:450px;">Send</button>
                                </div>
                        </form>
                        <br>
                    </div>
                </div> 
            </div>
   
            </div>
        </div>	
</section>
{% endblock %}